# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
bin/
obj/

# env
.env
.env.local
*.user

# python
__pycache__/
*.pyc
.venv/

# sqlite
*.db
*.db-journal
*.sqlite3

# tooling
.DS_Store
Thumbs.db
.idea/
.vscode/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
